<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css"></link>
        <script href="../static/bootstrap.bundle.js"></script>
        <script href="../static/jquery.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        
        <style>
            #map {
                height: 750px;
            }
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            body {
                overflow-y:hidden;
            }

            .table-fixed thead {
                width: 97%;
            }
            .table-fixed tbody {
                height:650px;
                display : none;
                overflow-y: auto;
                width: 100%;
            }
            
            tr {
                height: 50px;
                
                overflow-y:none;
            }

            .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
                display: block;
            }
            .table-fixed tbody td, .table-fixed thead > tr> th {
                float: left;
                border-bottom-width: 0;
            }
        </style>
    </head>
    <body>
            
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<h1>TrickleTracker</h1>
                    <h3>Water availability predictions for backcountry water sources.</h3>-->
                    <img src="../static/img/banner.png" class="img-fluid"></img>
                </div>

                <div class="col-lg-6">
                    <div id="map" width=100% height=750px></div>
                </div>

                <div class="col-lg-6">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-3 col-sm-3">
                            <input type="text" class="form-control form-inline" placeholder="mile" aria-label="Username" id="mile_input">
                        </div>
                        <div class="col-3 col-sm-3">
                            <div>
                                <button id="dir" class="btn btn-primary btn-block" >NOBO</button>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <ul class="pagination">
                                <li class="page-item active" id="day_0"><a class="page-link">Today</a></li>
                                <li class="page-item" id="day_1"><a class="page-link">+1</a></li>
                                <li class="page-item" id="day_2"><a class="page-link">+2</a></li>
                                <li class="page-item" id="day_3"><a class="page-link">+3</a></li>
                            </ul>
                        </div>
                    </div>

                    <table class="table table-fixed table-hover">
                        <thead>
                            <tr class="">
                                <th scope="col" class="col-sm-2">Mile</th>
                                <th scope="col" class="col-sm-10">Water Source Name</th>
                            </tr>
                        </thead>
                        <tbody id="list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2JH9aKFb5AuinMIDvZHF9CDuHHFgA2Go&callback=init"async defer></script>
    </body>
</html>

<script>
    data = {{data|tojson}};
    var map;
    var icons = {
        r: {
            name: 'r',
            icon: '../static/img/blue_marker.png'
        },
        sel: {
            name: 'sel',
            icon: '../static/img/big_marker.png'
        },
        p: {
            name: 'p',
            icon: '../static/img/orange_marker.png'
        },
        u: {
            name: 'u',
            icon: '../static/img/red_marker.png'
        }
    };

    function reverse_children(element){
        for (var i=1;i<element.childNodes.length;i++){
            element.insertBefore(element.childNodes[i], element.firstChild);
        }
    }
    var last_info_window = 0;

    function init() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 34.4835464, lng: -116.763886},
            zoom: 7
        });




        loc_list = $('#list');

        list_items = [];


        data.forEach(function(loc){
            var tr = $('<tr/>')
                .appendTo(loc_list);
            
            var td1 = $('<td/>')
                .text(loc.mile.toFixed(1))
                .addClass("col-sm-2")
                .appendTo(tr)

            var td2 = $('<td/>')
                .text(loc.name.substr(0,40))
                .addClass("col-sm-10")
                .appendTo(tr)

            var pred = $('<span/>')
                .text("")
                .addClass("float-right")
                .addClass("badge")
                .appendTo(td2)
            
            tr.prediction = pred


            position = {'lat': loc.lat, 'lng':loc.lon}
            var marker = new google.maps.Marker({
                position: position, 
                map: map,
                //icon: icons[loc.class].icon
            });

            var info_window = new google.maps.InfoWindow({
                content: `
                <h4>${loc.name}</h4>
                <p>${(new Date()).toLocaleString('en-En',{weekday: "narrow", month: "numeric", day: "numeric"})} water probability: ${loc.prediction_0.toFixed(2) * 100}%</p>
                <p>${new Date(new Date().setDate(new Date().getDate() + 1)).toLocaleString('en-En',{weekday: "narrow", month: "numeric", day: "numeric"})} water probability: ${loc.prediction_1.toFixed(2) * 100}%</p>
                <p>${new Date(new Date().setDate(new Date().getDate() + 2)).toLocaleString('en-En',{weekday: "narrow", month: "numeric", day: "numeric"})} water probability: ${loc.prediction_2.toFixed(2) * 100}%</p>
                <p>${new Date(new Date().setDate(new Date().getDate() + 3)).toLocaleString('en-En',{weekday: "narrow", month: "numeric", day: "numeric"})} water probability: ${loc.prediction_3.toFixed(2) * 100}%</p>
                `
            });

            marker.addListener('click', function() {
                if (last_info_window) {
                    last_info_window.close();
                }
                info_window.open(map, marker);
                last_info_window = info_window;
            });

            tr.click(function () {
                
                if (last_info_window) {
                    last_info_window.close();
                }
                info_window.open(map, marker);
                last_info_window = info_window;
            })


            
            //marker.normal_icon = icons[loc.class].icon;

            marker.addListener('mouseover', function() {
                tr.addClass('table-active');
                //marker.setIcon(icons['sel'].icon)
            });


            marker.addListener('mouseout', function() {
                tr.removeClass('table-active');
                //marker.setIcon(marker.normal_icon)
            });
            
            /*
            tr.mouseover(function(){
                marker.setIcon(icons['sel'].icon)
            })

            tr.mouseout(function(){
                marker.setIcon(marker.normal_icon)
            })
            */

            tr.data = loc
            tr.marker = marker
            tr.info_window = info_window

            list_items.push(tr)

        });

        updateListDate(0);

        google.maps.event.addListener(map, "click",function (){
            clearInfoWindows();
        })

        
    }

    dir_btn = $('#dir');

    day_buttons = [
        $('#day_0'),
        $('#day_1'),
        $('#day_2'),
        $('#day_3')
    ];

    day_buttons.forEach(function(btn,i) {
        btn.children("a").text(new Date(new Date().setDate(new Date().getDate() + i)).toLocaleString('en-En',{month: "numeric", day: "numeric"}))
    });

    function clearDayButtons() {
        day_buttons.forEach(function (btn) {
            btn.removeClass("active")
        });
    }

    function clearInfoWindows() {
        list_items.forEach(function(item){
            item.info_window.close();
        })
    }


    function updateListDate(n) {
        list_items.forEach(function(item){
            var key = 'prediction_'+n;
            if (key in item.data) {
                prediction = item.data[key]

                item.prediction.text((prediction*100).toFixed(0)+"%")

                item.prediction.removeClass("badge-info")
                item.prediction.removeClass("badge-warning")
                item.prediction.removeClass("badge-danger")

                if (prediction > 0.8) {
                    item.prediction.addClass("badge-info")
                    item.marker.setIcon(icons['r'].icon);
                } else if (prediction > 0.5) {
                    item.prediction.addClass("badge-warning")
                    item.marker.setIcon(icons['p'].icon);
                } else {
                    item.prediction.addClass("badge-danger")
                    item.marker.setIcon(icons['u'].icon);
                }
            } else {
                item.prediction.text("")
            }
        });
    }

    day_buttons.forEach(function (btn, i) {
        btn.click(function () {
            clearDayButtons();
            btn.addClass("active");
            updateListDate(i)
        })
    })

    function updateListVisability() {
        var mile = parseFloat($('#mile_input').val())
        if (!isNaN(mile)) {
            list_items.forEach(function(item){

                if (mile < item.data.mile) {
                    if (dir_btn.text() == "NOBO") {
                        item.show();
                    } else if (dir_btn.text() == "SOBO") {
                        item.hide();
                    }
                } else {
                    if (dir_btn.text() == "NOBO") {
                        item.hide();
                    } else if (dir_btn.text() == "SOBO") {
                        item.show();
                    }
                }
            });
        } else {
            list_items.forEach(function(item){
                item.show();
            });
        }
    }

    $('#mile_input').on('input', function () {
        updateListVisability()
    })

    $('#dir').click(function() {
        if (dir_btn.text() == "NOBO") {
            dir_btn.text("SOBO");
            reverse_children($('#list')[0]);
            updateListVisability();
            
        } else if (dir_btn.text() == "SOBO") {
            dir_btn.text("NOBO");
            reverse_children($('#list')[0]);
            updateListVisability();
        }
    })

</script>