<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css"></link>
        <script href="../static/bootstrap.bundle.js"></script>
        <script href="../static/jquery.js"></script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
        
        <style>
                #map {
                  height: 750px;
                }
                html, body {
                  height: 100%;
                  margin: 0;
                  padding: 0;
                }
              </style>
    </head>
    <body>
            
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>TrickleTracker</h1>
                    <h3>Water availability predictions for backcountry water sources.</h3>
                </div>
                <div class="col-lg-6">
                    <div id="map" width=100% height=750px></div>
                    <script>
                        var map;
                        function initMap() {
                            map = new google.maps.Map(document.getElementById('map'), {
                                center: {lat: 34.4835464, lng: -116.763886},
                                zoom: 7
                            });
                            data = {{data|tojson}};
                            console.log(typeof data);

                            var icons = {
                            r: {
                                name: 'r',
                                icon: '../static/img/blue_marker.png'
                            },
                            p: {
                                name: 'p',
                                icon: '../static/img/orange_marker.png'
                            },
                            u: {
                                name: 'u',
                                icon: '../static/img/red_marker.png'
                            }
                            };


                            data.forEach(function(loc){

                                position = {'lat': loc.lat, 'lng':loc.lon}
                                var marker = new google.maps.Marker({
                                    position: position, 
                                    map: map,
                                    icon: icons[loc.class].icon
                                });

                                marker.addListener('mouseover', function() {
                                    $("#"+loc.loc_id).addClass('table-active');
                                    
                                    //location.href = "#"+loc.loc_id;
                                });


                                marker.addListener('mouseout', function() {
                                    $("#"+loc.loc_id).removeClass('table-active');
                                });
                            });
                            
                        }
                    </script>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                            <div class="col-3 col-sm-3">
                                <input type="text" class="form-control" placeholder="mile" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-3 col-sm-3">
                                <div>
                                        <ul class="pagination">
                                            <li class="page-item active">
                                            <a class="page-link" href="#">NOBO</a>
                                            </li>
                                            <li class="page-item">
                                            <a class="page-link" href="#">SOBO</a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                            <div class="col-6 col-sm-6">
                                <div>
                                        <ul class="pagination">
                                            <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                            </li>
                                            <li class="page-item">
                                            <a class="page-link" href="#">4</a>
                                            </li>
                                            <li class="page-item">
                                            <a class="page-link" href="#">5</a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">Mile</th>
                            <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody height=750px style="overflow: scroll;">
                            {% for loc in data|sort(attribute='mile') %}
                                <tr id="{{loc.loc_id}}">
                                    <th scope="row">{{"%.1f"|format(loc.mile)}}</th>
                                    <td>
                                        {{loc.name}}
                                        {% if loc.class == 'r' %}
                                            <span class="float-right badge badge-info">Water Reliable </span>
                                        {% elif loc.class == 'p' %}
                                            <span class="float-right badge badge-warning">Water Probable </span>
                                        {% else %}
                                            <span class="float-right badge badge-danger">Water Unreliable </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2JH9aKFb5AuinMIDvZHF9CDuHHFgA2Go&callback=initMap"async defer></script>
    </body>
</html>